@media(max-width:1200px){
    .productShot {
        width: 85%;
    }

    img {
        width: 90%;
    }

    #voteTotals {
        padding: 0px;
    }
}

@media(max-width:600px){
    #container_imgs {
        flex-direction: column;
    }

    img {
        width: 85%;
    }

    #voteTotals {
        padding: 0px;
    }
}
