body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: darkgray;
}

main {
    background-color: white;
    padding: 5px 0px;
}

h2, h4 {
    text-align: center;
}

#container_imgs {
    min-height: 400px;
    width: 90%;
    display: flex;
    margin: auto;
    background-color: #e9eeff;
    padding: 30px 10px;
}

#txt_instruction {
    text-align: center;
}

.productShot {
    display: inline-flex;
    margin: auto;
}

#voteTotals {
    padding: 50px;
}

table {
    border-spacing: 0px;
    margin: 0px auto;
    width: 300px;
}

td, th {
    padding: 2px 5px
}

thead {
    font-weight: bold;
}

td {
    border: 1px solid lightgray;
}

#table_Bias {
    text-align: center;
}

#container_btn {
    text-align: center;
}

#progress {
    height: 10px;
    display: flex;
    border: 1px solid lightgray;
    padding: 3px;
    margin: 10px;
}
.complete {
    background-color: #46ff46;
}

.productShot{
    display: block;
    text-align: center;
}

img {
    border: 1px solid rgba(196, 211, 255, 0.57);
}
